/* style.css */
body {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    color: #333333;
    background-color: white;
    margin: 0;
    padding: 0 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f9fa;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #228B22;
}

nav ul.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul.nav-list li {
    margin-left: 20px;
}

nav ul.nav-list li a {
    text-decoration: none;
    color: #228B22;
    font-size: 1em;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    font-size: 1.1em;
}

.content-info {
    text-align: center; /* Centers text content */
    padding: 20px;
}

.content-image {
    text-align: center; /* Centers image content */
    width: 100%; /* Ensures the container takes full width */
}

.content-image img {
    max-width: 100%; /* Ensures the image does not exceed the width of its container */
    height: auto;
}

h1, h2 {
    margin: 0; /* Removed unnecessary margins for uniformity */
    padding: 10px 0; /* Added padding for better spacing */
    color: green;
}

/* style.css */
h1 {
    font-size: 6.5em;
    font-weight: bold;
    color: #228B22 !important; /* Ensuring the color is applied */
    opacity: 1 !important; /* Ensures full opacity */
    filter: none !important; /* Removes any filters */
    text-shadow: none !important; /* Removes any text shadows */
}


h2 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

/* style.css */
.h2-link, .h2-link:visited {
    color: #228B22; /* Initial color for unvisited link */
    text-decoration: none; /* Optional: removes underline from link */
}

.h2-link:visited {
    color: #17571b; /* Color for visited links */
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    font-size: 1em;
}

@media (max-width: 768px) {
    header, footer {
        padding: 10px 0;
    }

    .logo, nav ul.nav-list li a {
        font-size: 1em;
    }

    .content {
        padding: 10px 0;
    }
}